## Pandas 인덱서

Pandas 는 numpy 행렬과 같이 쉼표를 사용해 행과 열의 인덱싱을 지원한다

- loc : 라벨 기반 복수 인덱싱
- iloc : 숫자 기반 복수 인덱싱

## loc 인덱서

loc 인덱서는 행,열 형식의 인덱싱을 할 수 있지만, 행열이 다음과 같아야한다.

- 정수 인덱스가 아닌 라벨값
- 라벨 값의 리스트
- 라벨의 슬라이싱
- 불리언, 1차원배열, 시리즈 (데이터프레임은 안됨)
- 데이터 프레임을 입력으로 받고 값을 반환하는 함수

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.arange(10,22).reshape(3,4),
                 index=["a","b","c"],
                 columns=["A","B","C","D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [4]:
df.loc["a","A"]

10

In [6]:
df.loc["b":,"A"]

b    14
c    18
Name: A, dtype: int64

In [7]:
df.loc["a",:]

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [8]:
df[:1]

    A   B   C   D
a  10  11  12  13

In [9]:
type(df.loc["a",:])

pandas.core.series.Series

In [10]:
df.loc[:, df.loc["a",:]<=11]

    A   B
a  10  11
b  14  15
c  18  19

In [11]:
def find_row(df):
    return df.A>12

In [13]:
find_row(df)

a    False
b     True
c     True
Name: A, dtype: bool

In [14]:
df.loc["a"]

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [15]:
df.loc["e"]=[90,91,92,93]
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21
e  90  91  92  93

## iloc 인덱서

iloc 인덱서는 라벨이 아닌 정수만 인덱스로 받는다

In [16]:
df.iloc[0,1]

11

In [17]:
df.iloc[:2,2]

a    12
b    16
Name: C, dtype: int64

In [18]:
df.iloc[0,-2]

12

In [19]:
df.iloc[2:3,1:3]

    B   C
c  19  20

In [21]:
df.iloc[-1]

A    90
B    91
C    92
D    93
Name: e, dtype: int64

In [22]:
df.iloc[-1] = df.iloc[-1]*2
df

     A    B    C    D
a   10   11   12   13
b   14   15   16   17
c   18   19   20   21
e  180  182  184  186