In [1]:
import pymongo

In [3]:
client = pymongo.MongoClient()

In [4]:
db = client.test

In [5]:
doc = {
    "name": "Mike",
    "age": 26,
    "status": "A+",
    "groups" : ['news','sports']
}

In [7]:
db.test1.insert_one(doc)

In [8]:
db.test1.find()[0]

{'_id': ObjectId('5b27369d0674de185fea58b1'),
 'name': 'Mike',
 'age': 26,
 'status': 'A+',
 'groups': ['news', 'sports']}

In [9]:
docs = db.test1.find()

for doc in docs:
    print(doc)

{'_id': ObjectId('5b27369d0674de185fea58b1'), 'name': 'Mike', 'age': 26, 'status': 'A+', 'groups': ['news', 'sports']}
{'_id': ObjectId('5b2738bb0674de1fb302e6bc'), 'name': 'Mike', 'age': 26, 'status': 'A+', 'groups': ['news', 'sports']}

In [10]:
docs = db.test1.find()

for doc in docs:
    print(doc['name'])

Mike
Mike

In [11]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
for i in range(100):
    doc

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9