# Pandas 시계열 자료 다루기

pandas 에서 일반적인 테이블 형태의 자료와 시계열 자료의 차이점은 인덱스에 있다. 일반적인 테이블 형태의 자료는 임의의 값을 인덱스로 가질 수 있지만 시계열 자료는 다음 클래스를 인덱스로 가진다

- DatatimesIndex : 타임스태프

# Datatimeindex

datatimeindex는 특정한 순간에 기록된 타임스탬프 형식의 시계열 자료를 다루기 위한 인덱스이다. 타임스탬프 인덱스는 반드시 일정한 간격으로 자료가 있어야 한다는 조건은 없다.

- pd.to_datatime
- pd.data_range

In [14]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
from datetime import datetime

In [23]:
my_year = 2017
my_month = 10
my_day = 9
my_hour = 12
my_minute = 39
my_second =16

In [24]:
my_date = datetime(my_year, my_month, my_day)

In [25]:
my_date

datetime.datetime(2017, 10, 9, 0, 0)

In [26]:
type(my_date)

datetime.datetime

In [27]:
my_data_time =datetime(my_year, my_month, my_day, my_hour,my_minute, my_second)

In [28]:
first_two = [datetime(2016,1,1),datetime(2016,1,2)]
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [29]:
dt_ind = pd.DatetimeIndex(first_two)

In [30]:
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [31]:
data = np.random.rand(2,2)
data

array([[ 0.91591061,  0.94231558],
       [ 0.83308978,  0.06446548]])

In [32]:
cols = ['a','b']
df = pd.DataFrame(data, dt_ind, cols)
df

                   a         b
2016-01-01  0.915911  0.942316
2016-01-02  0.833090  0.064465

In [38]:
idx = pd.to_datetime(first_two)

In [40]:
np.random.seed(0)
s = pd.Series(np.random.randn(2), index=idx)
s

2016-01-01    1.764052
2016-01-02    0.400157
dtype: float64

In [42]:
pd.date_range("2016-4-1","2016-4-30")

DatetimeIndex(['2016-04-01', '2016-04-02', '2016-04-03', '2016-04-04',
               '2016-04-05', '2016-04-06', '2016-04-07', '2016-04-08',
               '2016-04-09', '2016-04-10', '2016-04-11', '2016-04-12',
               '2016-04-13', '2016-04-14', '2016-04-15', '2016-04-16',
               '2016-04-17', '2016-04-18', '2016-04-19', '2016-04-20',
               '2016-04-21', '2016-04-22', '2016-04-23', '2016-04-24',
               '2016-04-25', '2016-04-26', '2016-04-27', '2016-04-28',
               '2016-04-29', '2016-04-30'],
              dtype='datetime64[ns]', freq='D')

In [43]:
pd.date_range(start ="2016-4-1", periods=30)

DatetimeIndex(['2016-04-01', '2016-04-02', '2016-04-03', '2016-04-04',
               '2016-04-05', '2016-04-06', '2016-04-07', '2016-04-08',
               '2016-04-09', '2016-04-10', '2016-04-11', '2016-04-12',
               '2016-04-13', '2016-04-14', '2016-04-15', '2016-04-16',
               '2016-04-17', '2016-04-18', '2016-04-19', '2016-04-20',
               '2016-04-21', '2016-04-22', '2016-04-23', '2016-04-24',
               '2016-04-25', '2016-04-26', '2016-04-27', '2016-04-28',
               '2016-04-29', '2016-04-30'],
              dtype='datetime64[ns]', freq='D')

# Shift 연산
날짜이동

In [44]:
ts = pd.Series(np.random.randn(4), index=pd.date_range("2000-1-1", periods=4, freq="M"))
ts

2000-01-31    0.978738
2000-02-29    2.240893
2000-03-31    1.867558
2000-04-30   -0.977278
Freq: M, dtype: float64

In [45]:
ts.shift(1)

2000-01-31         NaN
2000-02-29    0.978738
2000-03-31    2.240893
2000-04-30    1.867558
Freq: M, dtype: float64

In [46]:
ts.shift(1, freq="M")

2000-02-29    0.978738
2000-03-31    2.240893
2000-04-30    1.867558
2000-05-31   -0.977278
Freq: M, dtype: float64