# 01-1. 자료형(data type)

### 객체는 자료형을 가지게 됩니다!
- data type indicates how to store or use data
- More efficient in terms of memory size and computational speed
- Built-in data type
- number, str, bool

### 데이터와 연산

#### 데이터
- 데이터에는 형태가 있습니다 : int, float, str, bool
- 데이터는 변수로 저장이 가능합니다 : reuse of values
- 자료구조 : 하나 이상의 데이터를 하나의 변수에 저장하는방식

#### 연산
- 연산 : +-/....
- 조건문
- 함수
- 반복문

# 1. 숫자 자료형 (int, float)
유효수자와 소수점의 위치를 나타내는 지수의 곱으로 표현된다.

In [1]:
a = 5.0
b = 2.0

# 더하기 +
adding = a+b

# 곱하기
multiply =a*b

# 나누기 /
divide = a/b

# 거듭제곱
power = a**b

# 몫
mock = a//b

# 나머지
remainder = a%b

print('a =',a)
print('adding =',adding)
print('didivide =',divide)
print('power =',power)
print('mock =',mock)
print('remainder =',remainder)

a = 5.0
adding = 7.0
didivide = 2.5
power = 25.0
mock = 2.0
remainder = 1.0

유효숫자 e지수 = 유효숫자 x 10^지수

유효숫자 j = 허수를 나타낸다

In [2]:
123e3

123000.0

In [3]:
123e-3

0.123

In [4]:
123.456e-10

1.23456e-08

In [5]:
0.1 + 0.2 == 0.3

False

In [6]:
%precision 5

'%.5f'

### 반올림

#### round = 유효숫자를 지정한 반올림을 한 후 비교해야한다. 소숫점 이하 유효숫자의 갯수를 받는다

In [7]:
round (0.1 + 0.2, 5)

0.30000

In [8]:
round (0.3, 5)

0.30000

In [9]:
int(2.9) == int(3.1)

False

### 형변환

- int 명령
- float 명령

In [10]:
int(1.0)

1

In [11]:
int(3.14)

3

In [12]:
int(3.9)

3

### 풀어보자 연습문제!

48320 $-$ (365 $-$ 5 X 9) $%$ 16 X 987 = ?
<br/>
((34 $-$ 3 X 7)$%$5$+$4)^2=?

In [13]:
print(48320-(365-5*9)/16*987)
print(((34-3*7)%5+4)**2)

28580.0
49

## 재밌는 연습문제!

1.다음(Daum)의 주가가 89,000원이고, 네이버(Naver)의 주가가 751,000이라고 하자, 어떤 사람이 다음주식 100주와 네이버 주식 20주를 가지고 있을때, 그 사람이 가지고 있는 주식의 총액은?

2.만약 다음과 네이버의 주가가 5%와 10% 하락한 경우에 손실액을 구하세요.

3.월요일에 네이버의 주가가 100만원으로 시작해 3일 연속 하한가(-30%)를 기록했을때 수요일의 종가는?

-----------------------------

In [14]:
daum = 89000
naver = 751000
total = daum*100 +naver*20
print(total)

23920000

In [15]:
loss = (daum * 0.05 * 100) + (naver * 0.1 * 20)
print(loss)

1947000.0

In [16]:
monday_open = 1000000
wednesday_close = monday_open * (0.7)**3
print(wednesday_close)

342999.99999999994

In [17]:
int(wednesday_close)

342999

In [18]:
round(wednesday_close, 5)

343000.00000

### NaN 과 Inf

- NaN = not a number
- Inf = Infinity

------

# String 자료형

- 데이터의 저장이나 교환에 상당히 많이 사용이 된다. (html, json, xml)

- 문자열은 연산이 가능하다. 덧셈연산은 문자열을 묻이고 곱셈연산은 문자열을 만복한다
 - 숫자를 문자열로 바꾸려면 str()명령을 사용한다. 
 - 한줄 띄울려면 /n 이라고 쓴다
 - 명령을 여러번 쓰면서 줄바꿈을 안하려면, end="" 를 추가한다.
 - 문자열에 %를 붙이면 문자열 안으로 들어간다.

In [19]:
print ("Beautiful is better than ugly.\n Explicit is better than implicit.\n Simple is better than complex.\n Complex is better than complicated.\n Flat is better than nested.\n Sparse is better than dense.")

Beautiful is better than ugly.
 Explicit is better than implicit.
 Simple is better than complex.
 Complex is better than complicated.
 Flat is better than nested.
 Sparse is better than dense.

In [20]:
string = 'python program'

print(type(string))
print(string*5)
print(string[1:4])

number = 7
print('변수타입',type(number))
print('string으로 변환 변수타입',type(str(number)))

<class 'str'>
python programpython programpython programpython programpython program
yth
변수타입 <class 'int'>
string으로 변환 변수타입 <class 'str'>

In [21]:
##. long string

long_string = '''
This is long string
Very.Long.WOw
'''
print(long_string)

This is long string
Very.Long.WOw

#### String Formatting

- 주어진 서식에 맞추어 문자열을 만드는 방법
- result : String
    - print()
    - format()
        - format 형식에서는 expression을 사용할 수 있습니다.
    - Literal string

In [22]:
## replace, 문자열 바꾸기
print(string)
replace_string = string.replace('py','mara')
print(replace_string)

python program
marathon program

In [23]:
## %포맷 사용하기
format_string = 'I have %d apple and 3 %s'
print(format_string)

print(format_string %(5,'bananas'))
print(format_string %(2,'orange'))

I have %d apple and 3 %s
I have 5 apple and 3 bananas
I have 2 apple and 3 orange

In [24]:
## method format 사용하기
format_string1 ="{0} can be {1}".format("strings","formatted")

format_string2="{name} want to eat {food}".format(name="Bob",food="fish")

print(format_string1)
print(format_string2)

strings can be formatted
Bob want to eat fish

In [25]:
# printf -styple string formatting
# %s = string
# %d = double
var = 42
string ='Answer'
s1 = 'The %s is %d.' %(string, var)
s1

'The Answer is 42.'

### Pythonic code with string

- Formatting : rjust(), ljust(), center(), format()
- Stripping : strip(), lstrip(), rstrip()
- __Join/Split : join(), split(), splitlines()__
- __Find/count : find(), rfind(), count()__
- __unpacking__

In [79]:
languages = "Python, Java, Ruby, C++"
tokens = languages.split(",")
tokens

['Python', ' Java', ' Ruby', ' C++']

In [81]:
sentence =''.join(tokens)
sentence

'Python Java Ruby C++'

In [83]:
a,b,c,d = tokens
d

' C++'

# boolean 자료형

- not !=
- and &
- or |

In [37]:
bool('python')

True

In [41]:
10 == 5

False

In [42]:
10 != 5

True

In [43]:
a = 5
b = 10

In [50]:
(a < 10)&(b > 5)

True

In [49]:
(a < 10)|(b < 5)

True

## input & output?

In [84]:
string = input('Enter a string: ')

Enter a string: seungheondoh

In [85]:
print(string)

seungheondoh

In [86]:
type(string)

str

In [87]:
number = input('Enter a number:')

Enter a number:10

In [88]:
number

'10'

In [89]:
type(number)

str

In [90]:
number = int(number) + 1

In [91]:
number

11

In [92]:
number = int(input('Enter a number:'))

Enter a number:10

In [93]:
type(number)

int

# 자료구조 (Data structure)

### Data Structure 란?

자료구조는 데이터를 효율적으로 이용할 수 있도록 저장하는 방법이다. 데이터의 타입에 따라서 효율적인 자료구조를 선택할수 있어야한다.

- 형태
    - linear 자료구조
        - 스택 Stack : 후입선출 구조의 자료구조이다. 데이터를 스택에 넣고 다시 꺼내면 역순으로 나온다
        - 큐 Queue : 선입 선출의 자료구조이다
        - 덱 Deque : 양쪽에서 넣고 뺼수 있는 자료구조이다. 스택과 큐가 합쳐져 있다.
        - 리스트 List : 같은 값이 한번 이상 존재 할 수 있고, 일련의 값이 모여있는 추상 자료형입니다.
    - Non-linear 자료구조
        - 트리 tree : 부모 노드와 N개의 자식 노드로 구성된 자료구조이며, 자식 노드도 재귀적으로 서브트리를 구성한다.
        - 그래프 Graph : 트리 구조와 비슷하지만, 순환구조를 가진다.

-----
### 파이썬 in 자료구조

왜 사용하는가?  여러개의 자료형을 저장하기 위해!

- Sequence : 양의 정수를 이용한 인덱싱, 슬라이싱 등등 특정 연산이 있다.
    - List (Mutable) : 원소값 추가 삭제 가능
    - tuple (Immutable) : 원소값을 바꾸거나, 추가, 삭제 안됨
    - string (Immutable) : 변경불가, 유니코드 문자만을 포함한다.
- dic (hash-map이랑 비슷해!)
- set (집합이랑 비슷해!)

### 여러개의 자료형을 담아서 어떻게 관리할 것인가?

- update : 갱신하는 명령어
- append : 자료를 추가하는 명령어 맨 마지막에 추가가 된다.
- del : 인덱스를 이용하여 자료를 삭제한다. 
- slicing : 특정 범위의 자료를 모두 가져온다
- 역 인데싱 : 음수 인덱스를 사용하여 뒤에서부터 가져올수도 있다

### List [ ]

- Definition : mutable sequence, typically used to store collection of homogeneous items, 
    - 변화가능한 자료들의 집합니다
- 수열을 표한한다. (Sequence)
- 인덱스 시작 : 0, 마이너스로 접근할 수도있다!
- array와 vector container 와 매우 유사하다.

In [94]:
list_test = []

In [97]:
t1 = [42,124,12]
t1[2]

12

#### List 슬라이싱

- name_of_list[start:end]

In [98]:
t = [42,1024,23,6,28,496,255]
t

[42, 1024, 23, 6, 28, 496, 255]

In [71]:
t[3]

6

In [99]:
t[2:4]

[23, 6]

In [73]:
t[1:5:2]

[1024, 6]

In [74]:
t[4:]

[28, 496, 255]

### List의 변환

- append(value)
    - add one value to given list
- extend(list)
    - add all the itmes in a list to the given list
- insert(i,x)
    - insert x at i'th location on list
- remove(x)
    - remove first item form list whose value is x
- clear()
    - remove all itmes from the list. Equvalent to del list[:]
- sort(key=None, reverse=False)
    - Sort the itmes of the list in place
- reverse
    - Reverse the elemets of the list in plae
- copy
    - Return a shallow copy of the list. Equvailent to a[:]

In [65]:
t = [42,1024,23,6,28,496,255]
t

[42, 1024, 23, 6, 28, 496, 255]

In [66]:
def square(arg):
    for i in range(len(arg)):
        arg[i] = arg[i]**2
    return arg
t1 = [1,2,4]
t2 = t1
t3 = t1.copy()
t1 = square(t1)
t2 = square(t2)
t3 = square(t3)

print(t1,t2,t3)

[1, 16, 256] [1, 16, 256] [1, 4, 16]

### tuple ( )

- Definition : immutable sequence, typically used to store collection of homogeneous items
- 인덱스는 0부터 시작
- 튜플의 언패킹 (unpacking)
    - 튜플에 있는 원소들의 값을 여러변수에 한번에 대입하게 만든다.

In [67]:
tu = (42,1024,23)

In [68]:
tu

(42, 1024, 23)

### Set { }

- Definition : 순서가 없고, 중복이 없는 원소들의 모음으로 정의가 됩니다. 이는 수학의 집합과 유사함!
- 변수명 =set([a,b,c,d,...])

In [100]:
fruits = set(['apple','orange','banana','apple'])
fruits

{'apple', 'banana', 'orange'}

In [101]:
'apple' in fruits

True

In [102]:
fruits and 'apple'

'apple'

### Dic

- Definition : Key와 value 를 가지는 자료구조
- 변수명 =dict('a'=1,'b'=2,'c'=3)
- return {}

In [71]:
t1 = [['answer',43],['pi',3.14],['e',2.145]]
t1

[['answer', 43], ['pi', 3.14], ['e', 2.145]]

In [72]:
d1 = dict(t1)
d1

{'answer': 43, 'pi': 3.14, 'e': 2.145}

In [73]:
d1.keys()

dict_keys(['answer', 'pi', 'e'])

In [74]:
d1.values()

dict_values([43, 3.14, 2.145])

In [75]:
type(d1.items())

dict_items

In [76]:
for i in d1.values():
    print(i)

43
3.14
2.145

In [77]:
d1['Question'] = 43

In [78]:
d1

{'answer': 43, 'pi': 3.14, 'e': 2.145, 'Question': 43}

In [79]:
#get함수는 사전의 key값이 있을때 value를 나타냅니다. 없다면 default값을 반환하게 됩니다.
d1.get('prime',0)

0

In [80]:
def count_itmes(sequence):
    count = {}
    for item in sequence:
        if item in count:
            count[item] += 1
        else:
            count[item] = 1
    return count
t = ['a','b','a','d','a']
print(count_itmes(t))

{'a': 3, 'b': 1, 'd': 1}

In [81]:
def count_items(sequence):
    count = {}
    for item in sequence:
        count[item] =count.get(item, 0)+ 1
    return count

t = [1,1,1,1,2,-1,4]
count_itmes(t)

{1: 4, 2: 1, -1: 1, 4: 1}

딕셔너리 자료형에 대해 옳지 않은것은?
1. 딕셔너리는 {}없이 정의된다
2. key는 반드시 value 값이 필요하다
3. .itmes()는 key와 value쌍을 반환한다.
4. 당신은 특정한 key를 지울때 value값을 몰라도 된다
5. 새로운 아이템은 = notation으로 추가할 수 있다.

## 중첩 데이터 구조 (Nest data structures)

In [82]:
#List 안에
students =[
#튜플이 있고, 튜플안에 다시 List가 있는 구조입니다.
    ('Alicce', ['Programming', 'Classic Mechanics']),
    ('Bob',['Programming','Linear Algebra']),
    ('Carol', ['Analytical Mechanics','Linear Algebra','Programming' ])
]

print(students[2])
print(students[2][1])
print(students[2][1][2])

('Carol', ['Analytical Mechanics', 'Linear Algebra', 'Programming'])
['Analytical Mechanics', 'Linear Algebra', 'Programming']
Programming

In [83]:
for studnet_name, course in students:
    print("Name:",studnet_name)
    print("Course:",course)

Name: Alicce
Course: ['Programming', 'Classic Mechanics']
Name: Bob
Course: ['Programming', 'Linear Algebra']
Name: Carol
Course: ['Analytical Mechanics', 'Linear Algebra', 'Programming']

# List comprehension

- 해석은 목록, 튜플, 사전 또는 집합 데이터구조를 생성하는 단축키입니다.

In [84]:
v1 = []
for i in range(10):
    v1.append(i)
v1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
v2 = [i for i in range(10)]
v2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
v1 = []
for i in range(10):
    if i%2 == 0:
        v1.append(i)
v1

[0, 2, 4, 6, 8]

In [87]:
v2 = [i for i in range(10) if i%2 ==0]
v2

[0, 2, 4, 6, 8]

In [88]:
v1 = []
for x in range(4):
    if x%2 ==0:
        for y in range(4):
            if y%2:
                v1.append((x,y))
v1

[(0, 1), (0, 3), (2, 1), (2, 3)]

In [89]:
v2 = [(x,y) for x in range(4) if x%2 ==0
            for y in range(4) if y%2]
v2

[(0, 1), (0, 3), (2, 1), (2, 3)]

# Tuple comprehension

In [90]:
t1 = tuple(i for i in range(10))
t2 = tuple(i for i in range(10) if i % 2 ==0)
print(t1,t2)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9) (0, 2, 4, 6, 8)

# set comprehension

In [91]:
s = {x for x in "seungheondoh" if x not in 'dohppak'}
s

{'e', 'g', 'n', 's', 'u'}

# Tuple comprehension

In [92]:
d = {x: x**2 for x in range(5)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [93]:
type(d)

dict

In [94]:
t1 = [1,2,3]
t2 = [x+1 for x in t1]
t3 = [x*2 for x in t2]
print(t3)

[4, 6, 8]

# Collections! : 만약에 효율성이 중요한 메모리 구조를 짜고 싶다면!

- list
    - deque : stack 과 Queue를 쓰고싶어, rotate, reverse 같은 Linked List도 지원한다!
- tuple
    - namedtuple : tuple에 varable을 사전에 지정해서 저장하고 싶다면!
- Dict
    - OrderedDict : 순서 잡아주는 dict, value나 key로 정렬하고 싶다면!
    - defaultdict : Dic type에 기본값을 지정해서, 신규값 init 할때 쓴다. 
    - Counter : sequence type의 data element들의 개수를 dict 형태로 바꿉니다, set 연산도 지원함!

In [39]:
from collections import deque

deque_list = deque()
for i in range(5):
    deque_list.append(i)
print(deque_list)

deque([0, 1, 2, 3, 4])

In [40]:
deque_list.appendleft(10)
deque_list

deque([10, 0, 1, 2, 3, 4])

In [41]:
deque_list.rotate(2)
deque_list

deque([3, 4, 10, 0, 1, 2])

In [42]:
deque(reversed(deque_list))

deque([2, 1, 0, 10, 4, 3])

In [43]:
deque_list.extend([5,6,7])
deque_list

deque([3, 4, 10, 0, 1, 2, 5, 6, 7])

In [46]:
deque_list.extendleft([5,6,7])
deque_list

deque([7, 6, 5, 7, 6, 5, 3, 4, 10, 0, 1, 2, 5, 6, 7])